<ion-view view-title="{{ContactosnavTitle}}">
  <ion-content>
	<form>
	<div class="list">
		<label class="item item-input item-select">
			<div class="input-label select">
				Marca
			</div>
			<select>
				<option><img src="img/marcas/audi.png">Mercedes</option>
			</select>
		</label>
		<label class="item item-input item-select">
			<div class="input-label select">
				Contexto
			</div>
			<select>
				<option>Mercedes</option>
			</select>
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Nome">
		</label>
		<label class="item item-input">
			<input type="tel" placeholder="Telefone">
		</label>
		<button type="submit" class="button button-full button-balanced">Liguem me!</button>
	</div>
	</form>

  </ion-content>
</ion-view>
