<ion-view view-title="{{DefinicoesnavTitle}}">
  <ion-content>
    <h1>Definições</h1>

<ion-list>
				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/audi.png"/>
				</ion-item>

				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/bmw.png"/>					
				</ion-item>

				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/chevrolet.png"/>
				</ion-item>

				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/citroen.png"/>
				</ion-item>


				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/dacia.png"/>
				</ion-item>

				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/lexus.png"/>
				</ion-item>

				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/mercedes.png"/>
				</ion-item>

				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/mini.png"/>
				</ion-item>


				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/nissan.png"/>
				</ion-item>

				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/opel.png"/>
				</ion-item>

				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/peugeot.png"/>
				</ion-item>

				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/renault.png"/>
				</ion-item>

				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/seat.png"/>
				</ion-item>

				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/skoda.png"/>
				</ion-item>

				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/smart.png"/>
				</ion-item>

				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/toyota.png"/>
				</ion-item>

				<ion-item class="item item-checkbox marcas">
					<label class="checkbox"><input type="checkbox"/></label>
					<img class="img-marcas" src="img/marcas/vw.png"/>
				</ion-item>
	</ion-list>
	
	
  </ion-content>
</ion-view>
