<ion-view view-title="{{InicionavTitle}}">
	<ion-content>
		<ion-list>
			<div class="row">
				<div class="col">
					<ion-item class="botao" href="#/app/inicio/viaturas">
						Viaturas
						<ion-option-button class="button-assertive">Edit</ion-option-button>
					</ion-item>
				</div>
				<div class="col">
					<ion-item class="botao" href="#/app/inicio/campanhas">
						Campanhas
					</ion-item>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<ion-item class="botao" href="#/app/inicio/cartao">
						Cartão Crédito
						<ion-option-button class="button-assertive">Edit</ion-option-button>
					</ion-item>
				</div>
				<div class="col">
					<ion-item class="botao" href="#/app/inicio/localizacao">
						Localização
					</ion-item>
				</div>
			</div>  
		</ion-list>
	</ion-content>
</ion-view>
