<ion-view view-title="{{PerfilnavTitle}}">
  <ion-content>
	<div class="img-center">
		<img class="imagem" src="img/person.png"/>
	</div>
	<div class="list list-inset">
	
		<div class="item">
			Nome :
		</div>
		
		<div class="item">
			Email :
		</div>
		
		<div class="item">
			NIF :
		</div>
		
		<div class="item">
			Telefone :
		</div>
		
		<div class="item">
			Morada :
		</div>
		
		<div class="item">
			Código Postal :
		</div>
		
    </div>
	<button class="button  button-full button-balanced">Alterar Dados</button>
	
  </ion-content>
</ion-view>
